@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Caveat:wght@400..700&family=Cookie&family=Engagement&family=Gabarito:wght@400..900&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Leckerli+One&family=Lexend+Deca:wght@100..900&family=Lilita+One&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Orelega+One&family=Pacifico&family=Playball&family=Praise&family=Quicksand:wght@300..700&family=SN+Pro:ital,wght@0,200..900;1,200..900&family=Ultra&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 5px 5px gray;
  backdrop-filter: blur(20px);
  padding: 15px 50px;
  font-family: "Winky Rough", sans-serif;
  position: fixed;
  top: 0px;
  left: 0;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li a {
  padding: 20px;
  font-size: 24px;
  color: black;
  font-weight: 500;
  font-family: "Winky Rough", sans-serif;
}

#menu-btn {
  display: none;
}

.logo p {
  font-size: 36px;
  font-weight: 600;
}
.logo span {
  color: orangered;
}

.food-count {
  width: 40px;
  height: 40px;
  background-color: orangered;
  border-radius: 50%;
  position: relative;
}

.food-count i {
  font-size: 25px;
  color: white;
  position: absolute;
  top: 8px;
  left: 4px;
}
#click {
  display: none;
}

/* Hero section */

.hero-section {
  margin-top: 90px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100dvh;
}
.hero-info {
  width: 450px;

  h2 {
    font-size: 45px;
    font-family: "Caveat", cursive;
  }
  span {
    color: orange;
  }

  p {
    font-size: 22px;
    font-family: "Akaya Kanadaka", system-ui;
    margin-top: 8px;
  }

  button {
    width: 220px;
    height: 50px;
    font-size: 23px;
    font-family: "Akaya Kanadaka", system-ui;
    margin-top: 20px;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: orange;
    color: white;
    box-shadow: 0 0 5px 5px gray;
  }
}

.hero-img img {
  width: 520px;
}

/* About section styling */

.about-section {
  text-align: center;
  width: 100%;
  min-height: 100dvh;
}

.about-h1 {
  font-size: 45px;
  font-family: "Akaya Kanadaka", system-ui;
}

.about-para {
  font-size: 18px;
  font-family: "SN Pro", sans-serif;
  margin-top: 10px;
}

.about-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 60px;
}

.about-box .food-box {
  width: 270px;
  height: auto;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 10px 12px;
  box-shadow: 0 0 1px 1px #d6d0d0;
  transition: all 0.9s ease-in-out;
  cursor: pointer;
}

.about-box .food-box:hover {
  box-shadow: 0 0 5px 5px gray;
}

.food-box .food-img {
  width: 100%;
  height: 150px;

  img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
  }
}

.food-info {
  h3 {
    font-size: 25px;
    font-family: "Akaya Kanadaka", system-ui;
  }

  p {
    font-size: 16px;
    font-weight: lighter;
    color: #514e4e;
    margin-top: 8px;
  }
  span,
  button {
    margin-top: 15px;
  }

  span {
    font-size: 16px;
    font-weight: 900;
    font-family: "Ultra", serif;
  }

  button {
    border: none;
    outline: none;
    border-radius: 8px;
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-family: "Winky Rough", sans-serif;
    background-color: orange;
    color: white;
    margin-left: 14px;
  }
}

/* Hotel menu section */

.hotel-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: 100dvh;
}

.hotel-food-img img {
  width: 450px;
  height: 450px;
}

.hotel-info {
  width: 500px;

  h2 {
    font-size: 43px;
    font-family: "Orelega One", serif;
  }

  p {
    font-size: 18px;
    line-height: 25px;
    font-family: "Quicksand", sans-serif;
    margin-top: 15px;
  }

  button {
    margin-top: 25px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-family: "Orelega One", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #ff6f00;
    color: white;
  }
}

/* Hotel news  */

.hotel-news {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
  padding: 50px 50px;

  .news {
    width: 300px;
    height: 350px;
    border-radius: 30px;
    box-shadow: 0 0 5px 5px gray;
    padding: 20px 20px;

    .fa-bowl-rice,
    .fa-truck,
    .fa-face-grin-stars {
      font-size: 55px;
    }

    .fa-bowl-rice {
      color: green;
    }

    .fa-truck {
      color: red;
    }
    .fa-face-grin-stars {
      color: blue;
    }

    h1 {
      font-size: 30px;
      font-family: "Akaya Kanadaka", system-ui;
      margin: 6px 0;
    }

    p {
      text-align: justify;
      font-size: 16px;
      font-family: "Quicksand", sans-serif;
    }

    a {
      font-size: 20px;
      font-family: "Quicksand", sans-serif;
      display: inline-block;
      margin-top: 10px;
      color: orange;
    }
  }
}

/* Chef section */

.hotel-chef {
  width: 100%;
  height: 700px;
  padding-bottom: 25px 0;
  margin-top: 70px;
  overflow: hidden;
}

.chef-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.chef-info {
  width: 500px;

  h2 {
    font-size: 50px;
    font-family: "Orelega One", serif;
  }

  p {
    font-size: 20px;
    font-family: "Akaya Kanadaka", system-ui;
    margin-top: 12px;
  }
}
.chef-social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 20px;

  .icons {
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px gray;
  }

  i {
    font-size: 30px;
  }

  .fa-instagram {
    color: red;
  }

  .fa-facebook {
    color: blue;
  }

  .fa-whatsapp {
    color: green;
  }
}

.chef-img img {
  width: 400px;
  height: 400px;
  background-color: orange;
  border-radius: 50%;
}

.masala-img {
  position: relative;
  left: 0;
  bottom: 250px;
  z-index: -1;
  img {
    transform: rotate(90deg);
  }
}

/* User review section */
.review-section {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.users-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  padding: 20px 26px;
  text-align: center;
  border-radius: 40px;
  box-shadow: 0 0 3px 2px orange;
  border: 2px solid #ff9900;

  h1 {
    font-size: 45px;
    font-family: "Winky Rough", sans-serif;
    margin-bottom: 40px;
  }

  p {
    width: 500px;
    margin-top: 10px;
    font-size: 18px;
    font-family: "Lexend Deca", sans-serif;
  }
}

.user-box {
  margin: 0 auto;
  h4 {
    font-size: 18px;
    width: 600px;
    margin-top: 30px;
    font-family: "Lexend Deca", sans-serif;
  }

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px 0 0 0px;
  }
  p {
    margin-left: 50px;
  }
}
